TYPE=
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY_LINE1=
PRIVATE_KEY_LINE2=
...
PRIVATE_KEY_LINE28=
CLIENT_EMAIL=
CLIENT_ID=
AUTH_URI=
TOKEN_URI=
AUTH_PROVIDER_CERT_URL=
CLIENT_CERT_URL=
UNIVERSE_DOMAIN=
